---
import Badge from "../components/Badge.astro";
import Welcome from "../components/Welcome.astro";
import GitHubIcon from "../components/Icons/GitHubIcon.astro";
import Layout from "../layouts/Layout.astro";
import LindkedInIcon from "../components/Icons/LindkedInIcon.astro";
import SocialRedes from "../components/SocialRedes.astro";
import EmailIcon from "../components/Icons/EmailIcon.astro"
import FormacionIcon from "../components/Icons/FormacionIcon.astro"
import SectionContainer from "../components/SectionContainer.astro";
import Formacion from "../components/Formacion.astro";
import ProjectIcon from "../components/Icons/ProjectIcon.astro";
import Proyectos from "../components/Proyectos.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Desarrolladora Web Junior | Frontend, Backend y Dise침o UI/UX">
    <main>
       <SectionContainer id="top">
            <div class="container flex justify-center">
                <img
                    class="opacity-80 w-100 h-120 mt-10"
                    src="/public/avatar.png"
                />
            </div>
            <h1 class="text-5xl font-bold flex flex-row gap-4 pb-10">
                Hola, soy Mar <a
                    href=""
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                    ><Badge> Disponible para trabajar</Badge></a
                >
            </h1>
            <h2 class="prose-2xl">
                <span class="text-purple-400 opacity-50"
                    >Dise침adora UX y Desarrolladora junior.</span
                ><span class="opacity-80">
                    Apasionada en crear experiencias digitales.</span
                >
                <span class="text-purple-400 opacity-50"
                    >Especializ치ndome en seguridad digital e IA.</span
                >
            </h2>

            <div class="flex justify-center items-center">
                <nav class="flex gap-2">
                    <SocialRedes href="https://github.com/MarDev13">
                        <GitHubIcon class="size-6" />GitHub
                    </SocialRedes>

                    <SocialRedes>
                        <LindkedInIcon class="size-6" />LindkedIn
                    </SocialRedes>
                    <SocialRedes>
                        <EmailIcon class="size-6" />mardevvdesign@gmail.com
                    </EmailIcon>
                </nav>
            </div>
        </SectionContainer>



        <SectionContainer id="proyectos">
    
           <h2 class="text-3xl font-semibold opacity-80 flex gap-3 items-center mt-20 mb-15"> <ProjectIcon class="size-4"/>Proyectos</h2>
    
        <Proyectos/>
      
    </SectionContainer>

<SectionContainer id="sobre-mi">
    
        <h2 class="text-3xl font-semibold opacity-80 flex gap-3 items-center mt-20 mb-15"><FormacionIcon class="size-4"/>Formaci칩n</h2>

    <Formacion/>
  
</SectionContainer>


    </main>
</Layout>
