---
 interface Props{
    titulo: string;
    descripcion: string;
  
}

const { titulo, descripcion, } = Astro.props;
---

<div
    class="absolute w-3 h-3  rounded-full mt-1.5 -start-1.5 border :border-gray-900 bg-purple-400"
>
</div>

<h3 class="text-lg font-semibold  text-purple-400 opacity-60 mb-2">
   {titulo}
</h3>
<p class="prose mb-4 text-base font-normal  text-gray-400">
   {descripcion}
</p>



