---
import FormacionItem from "../components/FormacionItem.astro";

const FORMACION = [
    {
       
        titulo: "Desarrollo Web Full Stack – FEMPA (Finalizado)",
        descripcion:
            "Aprendí a desarrollar aplicaciones web completas, trabajando en el back-end con PHP, Symfony, MySQL y la creación de APIs, y en el front-end con JavaScript, Tailwind CSS y Bootstrap. También utilicé CMS para gestionar contenidos de forma eficiente. A lo largo del proceso, mejoré mis habilidades en arquitectura de software, optimización de rendimiento, seguridad, diseño responsivo, trabajo con bases de datos y desarrollo escalable. Todo con un enfoque práctico, creando proyectos bien estructurados, funcionales y orientados a la mejor experiencia de usuario.",
    },
    {
      
        titulo: "IA y Prompt Engineering – Frounderz (Avalado por Microsoft) (Finalizado)",
        descripcion:
            "Optimización de interacciones con inteligencia artificial mediante prompt engineering, mejorando respuestas y automatizando procesos.",
    },
    {
    
        titulo: "Certificación en Diseño UX – Google (Coursera) (En curso)",
        descripcion:
            "Diseño de experiencias de usuario centradas en las personas, aplicando metodologías de investigación, creación de wireframes y prototipos interactivos en Figma. Desarrollo de pruebas de usabilidad para optimizar la experiencia del usuario. Formación en principios de accesibilidad, diseño visual, arquitectura de la información y heurísticas de usabilidad.",
    },
    {
     
        titulo: "Seguridad Digital – Grupo Aspasia (En curso)",
        descripcion:
            "Gestión de riesgos informáticos, protección contra malware y phishing, cumplimiento del RGPD y fortalecimiento de sistemas frente a ciberamenazas.",
    },
   
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        FORMACION.map((formacion) => (
            <li class="mb-10 ms-4">
                <FormacionItem {...formacion} />
            </li>
        ))
    }
</ol>
