<header class="bg-dark mx-auto">

<nav class=" fixed top-0 w-full bg-dark z-10 mx-auto flex  items-center justify-center p-6 lg:px-8">

<a href="#top" class="mx-2">Inicio</a>
<a href="#sobre-mi" class="mx-2">Sobre mí</a>
<a href="#proyectos" class="mx-2">Proyectos</a>
<a href="#contacto" class="mx-2">Contacto</a>

</nav>

</header>