<header class="bg-dark mx-auto">

<nav class="mx-auto flex max-w-7xl items-center justify-center p-6 lg:px-8">

<a href="" class="mx-2">Inicio</a>
<a href="" class="mx-2">Sobre mí</a>
<a href="" class="mx-2">Proyectos</a>
<a href="" class="mx-2">Contacto</a>

</nav>

</header>