<a
    href={Astro.props.href}
    class="rounded-full border border-white/10
     flex justify-center items-center gap-4 py-2 mt-8 px-1
      bg-purple-400/5 
      hover:scale-110 hover:bg-purple-400/10
      transition"
      target="_blank"
>
    <slot />
</a>
